@font-face {
	font-family: 'Myriad-Pro';
	src:         url('../fonts/Myriad-Pro.ttf') format("truetype");
}

body {
	margin:          0;
	padding:         0;
	color:           #555555;
	font:            "Myriad-Pro";
	background:      url(../images/bg-welcome.png) top center no-repeat #FF0000;
	background-size: 100%;
	min-height:      800px;
}

body[class~="visited"] {
	background-image: url(../images/bg-main.png);
}

#page {
}

#header {
	margin:     0;
	padding:    0;
	border-top: 3px solid #C9E0ED;
}

#content {
	padding:    20px;
	text-align: center;
}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	padding:    10px;
	margin:     10px 20px;
	font-size:  0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	padding:   10px 20px;
	font-size: 200%;
}

#mainmenu {
	background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
	padding: 6px 20px 5px 20px;
	margin:  0px;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	color:            #FFFFFF;
	background-color: transparent;
	font-size:        12px;
	font-weight:      bold;
	text-decoration:  none;
	padding:          5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	color:            #6399CD;
	background-color: #EFF4FA;
	text-decoration:  none;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding:       .8em;
	margin-bottom: 1em;
	border:        2px solid #DDDDDD;
}

div.flash-error {
	background:   #FBE3E4;
	color:        #8A1F11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background:   #FFF6BF;
	color:        #514721;
	border-color: #FFD324;
}

div.flash-success {
	background:   #E6EFC2;
	color:        #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8A1F11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin:  10px 0;
	border:  1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding:   5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

div.search-form {
	padding:    10px;
	margin:     10px 0;
	background: #EEEEEE;
}

.portlet {
}

.portlet-decoration {
	padding:     3px 8px;
	background:  #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size:   12px;
	font-weight: bold;
	padding:     0;
	margin:      0;
	color:       #298DCD;
}

.portlet-content {
	font-size:  0.9em;
	margin:     0 0 15px 0;
	padding:    5px 8px;
	background: #EFFDFF;
}

.portlet-content ul {
	list-style-image:    none;
	list-style-position: outside;
	list-style-type:     none;
	margin:              0;
	padding:             0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin:          0;
	padding:         0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font:            bold 12px Arial;
	color:           #0066A4;
	display:         block;
	padding:         2px 0 2px 8px;
	line-height:     15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}

.visitor { color: #FFFFFF; text-shadow: 3px 3px #555555; margin-top: 180px; }
.visitor .welcome { font-size: 90px; margin-bottom: 20px; }
.visitor .name { text-transform: uppercase; font-size: 90px; }
.visitor .job_title { font-size: 60px; }
.visitor .company { font-size: 60px; }
.visitor .client { font-size: 70px; margin-top: 250px; }

.visitor[class~="photo-screen"] { margin-top: 20px; float: left; }
.visitor[class~="photo-screen"] .photo { float: left; margin-top: 10px; }
.visitor[class~="photo-screen"] .photo img { height: 670px; margin-left: 30px; border-radius: 40px; }
.visitor[class~="photo-screen"] .welcome { width: 50%; font-size: 57px; float: left; margin-top: 200px; margin-left: 40px; }
.visitor[class~="photo-screen"] .name { width: 50%; float: left; margin-left: 40px; font-size: 65px; }
.visitor[class~="photo-screen"] .job_title { width: 50%; float: left; margin-left: 40px; font-size: 40px; }
.visitor[class~="photo-screen"] .company { width: 50%; float: left; margin-left: 40px; font-size: 40px; }

@media only screen and (max-width: 1920px) {
	.visitor { }
	.visitor .welcome { }
	.visitor .name { }
	.visitor .job_title { }
	.visitor .company { }
	.visitor .client { }

	.visitor[class~="photo-screen"] { }
	.visitor[class~="photo-screen"] .photo { }
	.visitor[class~="photo-screen"] .photo img { }
	.visitor[class~="photo-screen"] .welcome { }
	.visitor[class~="photo-screen"] .name { }
	.visitor[class~="photo-screen"] .job_title { }
	.visitor[class~="photo-screen"] .company { }
}

@media only screen and (max-width: 1440px) {
	.visitor { }
	.visitor .welcome { }
	.visitor .name { }
	.visitor .job_title { }
	.visitor .company { }
	.visitor .client { }

	.visitor[class~="photo-screen"] { }
	.visitor[class~="photo-screen"] .photo { }
	.visitor[class~="photo-screen"] .photo img { }
	.visitor[class~="photo-screen"] .welcome { }
	.visitor[class~="photo-screen"] .name { }
	.visitor[class~="photo-screen"] .job_title { }
	.visitor[class~="photo-screen"] .company { }
}

@media only screen and (max-width: 1366px) {
	.visitor { margin-top: 120px; }
	.visitor .welcome { font-size: 60px; }
	.visitor .name { font-size: 75px; }
	.visitor .job_title { font-size: 38px; }
	.visitor .company { font-size: 38px; }
	.visitor .client { }

	.visitor[class~="photo-screen"] { }
	.visitor[class~="photo-screen"] .photo { }
	.visitor[class~="photo-screen"] .photo img { height: 420px; }
	.visitor[class~="photo-screen"] .welcome { font-size: 45px; margin-top: 150px; }
	.visitor[class~="photo-screen"] .name { font-size: 45px; }
	.visitor[class~="photo-screen"] .job_title { font-size: 35px; }
	.visitor[class~="photo-screen"] .company { font-size: 35px; }
}