.logo {
	height: 15px;
}

.roomWrapper {
	position: relative;
	background: url("../images/vna/bg.png") no-repeat #CCCCCC;
	width: 1170px;
	height: 730px;
	background-size: 100%;
	background-position: center center;
	border: 1px solid #CCCCCC;
	/*margin-top: 65px;*/
}

.seat {
	display: block;
	position: absolute;
	border: 1px solid #CCCCCC;
	width: 15px;
	height: 15px;
	text-align: center;
	font-size: 8px;
	background: #FFFFFF;
}

.visitorQueue {
	height: 170px;
	background: rgba(0, 0, 0, 0.5);
}

.visitorQueue .itemQueue {
	margin-top: 20px;
	position: absolute;
	top: 0;
	left: -250px;
}

.visitorQueue .itemContent {
	width: 250px;
	height: 106px;
	background-color: #E6E6E6;
	position: relative;
	text-align: center;
	display: table;
}

.visitorQueue .itemContent[class~="food_set_1"] {
	border-top: 25px solid #FF0000;
}

.visitorQueue .itemContent[class~="food_set_2"] {
	border-top: 25px solid #FFFF00;
}

.visitorQueue .itemContent[class~="food_set_3"] {
	border-top: 25px solid #0000FF;
}

.visitorQueue .itemContent .name {
	font-size: 35px;
	margin-top: 30px;
	line-height: 35px;
	vertical-align: middle;
	display: table-cell;
}

.visitorQueue .itemContent .seat_number {
	position: absolute;
	font-size: 36px;
	top: -41px;
	background: #002A54;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	left: 13px;
	color: #FFFFFF;
	border-top: 2px solid #CB8F17;
}

.visitorQueue .itemContent .table_number {
	position: absolute;
	top: -22px;
	right: 9px;
	font-weight: bold;
	font-size: 20px;
}

.visitorQueue .itemContent[class~="food_set_1"] .table_number,
.visitorQueue .itemContent[class~="food_set_3"] .table_number {
	color: #FFFFFF;
}